{% extends "base_site.html" %}

{% block content_title %}<h1>Databrowse</h1>{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block content %}
<div class="offset1">
<table class="zebra-striped">
    <tbody>
{% for model in model_list %}

        <tr>
            <td><a href="{{ model.url }}">{{ model.verbose_name_plural|capfirst }}</a></td>
            <td>
            {% for object in model.sample_objects %}
                <a href="{{ object.url }}">{{ object }}</a>,
            {% endfor %}
                <a class="more" href="{{ model.url }}"><span class="label success">More &rarr;</span></a>
            </td>
        </tr>

{% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
