{% extends "databrowse/base_site.html" %}

{% block title %}
    {{ model.verbose_name_plural|capfirst }}
{% endblock %}

{% block extrahead %}
<style type="text/css">
.info > .filter > a {
    background-color: #62CFFC;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
}
</style>
{% endblock %}

{% block content_title %}<h1>{{ model.verbose_name_plural|capfirst }}</h1>{% endblock %}

{% block content %}

<div class="row">
        <ul class="breadcrumb">
            <li><a href="{{ root_url }}">Home</a></li>
            <li class="divider">/</li>
            <li>{% if model.objects.count|pluralize %}{{ model.verbose_name_plural }}{% else %}{{ model.verbose_name }}{% endif %} (Total: <span class="label success">{{ model.objects.count }}</span>)</li>
        </ul>
</div>
<div class="row">
    <div class="alert-message block-message success">
        {{ plugin_html }}
    </div>
{% for object in model.objects %}

    <span class="alert-message block-message {% cycle '' 'info' %} span3">
        <a href="{{ object.url }}">{{ object }}</a>
    </span>

{% endfor %}
</div>

{% endblock %}
