{% extends "base_site.html" %}
{% load comments %}

{% block content_title %}{{ object.model.verbose_name|capfirst }}: {{ object }}{% endblock %}

{% block content %}

<div id="breadcrumbs"><a href="{{ root_url }}">Home</a> / <a href="{{ object.model.url }}">{{ object.model.verbose_name_plural|capfirst }}</a> / {{ object }}</div>

<h1>{{ object.model.verbose_name|capfirst }}: {{ object }}</h1>

<table class="objectinfo">
{% for field in object.fields %}
<tr class="{% cycle 'odd' 'even' %}">
<th>{{ field.field.verbose_name|capfirst }}</th>
<td>
{% if field and field.urls %}
{% for value, url in field.urls %}
{% if url %}<a href="{{ url }}">{% endif %}{{ value }}{% if url %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
{% endfor %}
{% else %}None{% endif %}
</td>
</tr>
{% endfor %}
</table>
<hr>
<h2>配置历史</h2>
<div id="comment">
{% render_comment_list for object.instance %}
{% render_comment_form for object.instance %}
</div>
<hr>
{% for related_object in object.related_objects %}
  <div class="related">
  <h2>与 {{ related_object.related_field }} 关联的 {{ related_object.model.verbose_name_plural }}:</h2>
  {% if related_object.object_list %}
  <ul class="objectlist">
    {% for object in related_object.object_list %}
    <li class="{% cycle 'odd' 'even' %}"><a href="{{ object.url }}">{{ object }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="quiet">(None)</p>
  {% endif %}
  </div>
{% endfor %}

{% endblock %}
