{% extends "base_site.html" %}
{% load comments %}

{% block title %}{{ object }}{% endblock %}

{% block content_title %}<h1>{{ object.model.verbose_name|capfirst }}: <small>{{ object }}</small></h1>{% endblock %}

{% block content %}

<div class="row">
        <ul class="breadcrumb">
            <li><a href="{{ root_url }}">Home</a></li>
            <li class="divider">/</li>
            <li><a href="{{ object.model.url }}">{{ object.model.verbose_name_plural|capfirst }}</a></li>
            <li class="divider">/</li>
            <li>{{ object }}</li>
        </ul>
</div>

<div class="row">
    <table class="zebra-striped">
        {% for field in object.fields %}
        <tr>
            <td>{{ field.field.verbose_name|capfirst }}</td>
            <td>
            {% if field and field.urls %}
            {% for value, url in field.urls %}
            {% if url %}<a href="{{ url }}">{% endif %}{{ value }}{% if url %}</a>{% endif %}{% if not forloop.last %}, {% endif %}
            {% endfor %}
            {% else %}None{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="row">
{% for related_object in object.related_objects %}
    <p><strong>与 {{ related_object.related_field }} 关联的 {{ related_object.model.verbose_name_plural }}:</strong></p>
    <table class="zebra-striped">
    {% if related_object.object_list %}
    {% for object in related_object.object_list %}
        {% cycle '<tr><td>' '<td>' %}<a href="{{ object.url }}">{{ object }}</a></li>{% cycle '</td>' '</td></tr>' %}
    {% endfor %}
    {% else %}
    <tr><td>(None)</td></tr>
    {% endif %}
    </table>
{% endfor %}
</div>

<div class="row">
    <p><strong>变更历史</strong></p>

    {% render_comment_list for object.instance %}
    {% render_comment_form for object.instance %}
</div>

{% endblock %}
