{% extends "base_site.html" %}
{% load i18n %}
{% load url from future %}


	{% if user.is_authenticated %}
        {% block content_title1 %}
        <h1>欢迎登陆<small>IT Managment</small></h1>
        {% endblock %} 
	{% else %}
        {% block content_title %}
            <h1>登陆<small>后观看信息</small></h1>
        {% endblock %}
        {% block content %}
	    {% if form.errors %}
            <div class="row offset3">
            <div class="alert-message error span6">
            
		    <p class="error">Sorry, that's not a valid username or password</p>
            </div>
			</div>
	    {% endif %}
		<div class="row offset3">
		      <div class="clearfix">
        <form method='post' action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            <div class="clearfix">
				<label for="username">User name: </label>
				<div class="input">
					<div class="input-append">
						<input class="medium" type="text" name="username" value="" id="username" placeholder="用户名" />
						<span class="add-on">@company.com</span>
						<span class="help-inline">支持LDAP邮箱验证</span>
						</div>						
					</div>
			</div>
            <div class="clearfix">
				<label for="password">Password: </label>
				<div class="input">
					<input class="medium" type="password" name="password" value="" id="password" placeholder="密码" />

				</div>
			</div>

            <input class="btn" type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next|escape }}" />
        </form>
        </div>
		</div>
        {% endblock %}
    {% endif %}
	
{% block extrafooter %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
    /*google.load("jquery","1.5.1");
    google.setOnLoadCallback(
        function(){
            $(document).ready(function(){
                $("div#content").click(function(){
                    $("div#footer").toggle();
                });
            })
    });*/
</script>
{% endblock %}
