{% extends "base_site.html" %}
{% load i18n %}
{% load url from future %}


	{% if user.is_authenticated %}
        {% block content_title1 %}
        <h1>欢迎登陆<small>IT Managment</small></h1>
        {% endblock %} 
	{% else %}
        {% block content_title %}
            <h1>登陆<small>后观看信息</small></h1>
        {% endblock %}
        {% block content %}
        <div class="clearfix span12 offset1">
	    {% if form.errors %}
            <div class="alert-message warning span10 offset2">
            <a href="#" class="close"> x </a>
		    <p class="error">Sorry, that's not a valid username or password</p>
            </div>
	    {% endif %}
        <form method='post' action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
            <p><label for="username">User name: </label>
            <input type="text" name="username" value="" id="username"> 提示：公司邮箱@前的部分</p>
            <p><label for="password">Password: </label>
            <input type="password" name="password" value="" id="password"> 提示：公司邮箱密码</p>

            <p><input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next|escape }}" /></p>
        </form>
        </div>
        {% endblock %}
    {% endif %}
	
{% block extrafooter %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type="text/javascript">
    /*google.load("jquery","1.5.1");
    google.setOnLoadCallback(
        function(){
            $(document).ready(function(){
                $("div#content").click(function(){
                    $("div#footer").toggle();
                });
            })
    });*/
</script>
{% endblock %}
