{% load comments i18n %}

<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
        {% if field.errors %} class="error"{% endif %}
        {% ifnotequal field.name "comment" %} style="display:none;"{% endifnotequal %}>
        
        {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  <p class="submit">
    <input type="submit" name="post" class="btn primary" value="{% trans "Post" %}" />
    <input type="submit" name="preview" class="btn info" value="{% trans "Preview" %}" />
  </p>
</form>
<script type="text/javascript" src="/static/xheditor/jquery/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/xheditor/xheditor-1.1.8-zh-cn.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#id_comment').xheditor({tools:'Source,|,Cut,Copy,Paste,Pastetext,|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,|,SelectAll,Removeformat,|,Align,List,Outdent,Indent,|,Link,Unlink,Anchor,Hr,Table,Preview',skin:'nostyle',width:'100%'});
    /*$("label").css("display","none");
    $("#id_name").css("display","none");
    $("#id_email").css("display","none");
    $("#id_url").css("display","none");*/
});
</script>
