{% extends "base_site.html" %}

{% load adminmedia %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script>

<style type="text/css">
    .vDateField, .vTimeField {
        width: 80px;
    }
</style>

{{ form.media }}

<script type="text/javascript">
	$(document).ready(function(){
	
		
	});
	
	function delete_plan(id) {
		if (confirm("Are you sure to delete this plan?")) {
			$("#id_loading_plans").show();
			$.post("{% url ajax_delete_plan %}", {"id": id}, function(data) {
				if (data == "ok") {
					load_plans("{% url ajax_show_plans %}");
				} else {
					alert("Server error.");
				}
			});
		}
		return false;
	}
	
	function delay_plan(id, days) {
		$("#id_loading_plans").show();
		$.post("{% url ajax_delay_plan %}", {"id": id, "days": days}, function(data) {
			if (data == "ok") {
				load_plans("{% url ajax_show_plans %}");
			} else {
				alert("Server error.");
			}
		});
		return false;
	}
	
	function load_plans(url) {
		$("#id_loading_plans").show();
		$.get(url, function(data) {
			$("#id_plans_container").html(data);
		});
		return false
	}
</script>
{% endblock %}
{% block content_title %}
    <h1>Time Tracking</h1>
{% endblock %}
{% block content %}
<div class="row">
<div class="span6">
    <table class="zebra-striped"><tr><td>
    <form>
    {% csrf_token %}
		<fieldset>
			<legend>Add activity</legend>
			{% for field in form %}
			<div class="clearfix">
			    {{ field.label_tag }}
			    <div class="input">
			        {{ field }}
			    </div>
			</div>
			{% endfor %}
			<div class="actions">
			    <input class="btn primary" type="submit" value="Add" />
			</div>			
		</fieldset>
	</form>
	</td></tr></table>
</div>
<div class="span6 offset1">
	<table class="zebra-striped"><tr><td>
   <form>
   {% csrf_token %}
	<fieldset>
		<legend>Add plan</legend>
		{% for field in plan_form %}
		<div class="clearfix">
		    {{ field.label_tag }}
		    <div class="input">
		        {{ field }}
		    </div>
		</div>
		{% endfor %}
		<div class="actions">
		    <input class="btn primary" type="submit" value="Add" />
		</div>	
	</fieldset>
	</form>
	</td></tr></table>
</div>
</div>
<div class="row">
		{% include "teamstream/show_activities.html" %}
<!-- </div>
<div class="row"> -->
		{% include "teamstream/show_plans.html" %}
</div>
{% endblock %}
